---
interface Props extends PageUrl {}
import ButtonLink from "../atoms/ButtonLink";

const { next, prev, last, current, first } = Astro.props;
const WORD_REGEX: RegExp = /([a-zA-Z\/]+)/gm;
const currentIndex = current.replace(WORD_REGEX, "")
  ? current.replace(WORD_REGEX, "")
  : "1";
const lastIndex = last?.replace(WORD_REGEX, "")
  ? last?.replace(WORD_REGEX, "")
  : currentIndex;
---

<nav id="Pagination" class="">
  <ul
    class="grid grid-cols-[auto_1fr_auto] gap-2
  place-items-center text-center
  h-max"
  >
    {
      prev ? (
        <li id="PreviousPage">
          <ButtonLink href={prev}>Prev</ButtonLink>
        </li>
      ) : (
        <div class="min-w-[6ch]" />
      )
    }
    <li id="PageInfo">
      <b>{currentIndex}</b> of {lastIndex}
    </li>
    {
      next ? (
        <li id="NextPage">
          <ButtonLink href={next}>Next</ButtonLink>
        </li>
      ) : (
        <div class="min-w-[6ch]" />
      )
    }
  </ul>
</nav>
