---
export const prerender = true;
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Articles from "../../components/organisms/Articles";
import Layout from "../../layouts/Layout.astro";
import Pagination from "../../components/molecules/Pagination.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("posts");
  return paginate(posts, { pageSize: 2 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

// console.log(posts);
---

<Layout title="Blogs - David'Space">
  <section id="Blogs" class="grid isolate relative gap-16 mb-3">
    <header class="container isolate relative h-44">
      <!-- <Navlinks className="flex absolute top-5 right-5 gap-1" /> -->
      {/* <div className="w-full opacity-60 bg-pattern-noisy"></div> */}
      <div class="grid content-center h-full">
        <h1>Blogs</h1>
      </div>
    </header>
    <section
      class="container
      grid-rows-none md:grid-rows-[.5fr_1fr]
      grid grid-cols-1 md:grid-cols-[.5fr_1fr]
      gap-16"
      id="ArticlesContainer"
    >
      <div
        id="search"
        class="grid grid-rows-[auto_auto] h-max gap-5 outline outline-1
      rounded-sm p-4"
      >
        <form
          class="grid-rows-[auto_1fr] gap-5 grid h-max"
          onsubmit=""
          name="filter"
        >
          <!-- <Filters /> -->
          <!-- <div class="grid grid-cols-[0.3fr_1fr] gap-3">
            <input
              type="reset"
              value="Clean"
              class="border border-primary-darkest hover:border-primary-dark transition-colors text-primary-darkest cursor-pointer
            px-2 py-1 rounded"
            />
            <Button type="submit">Search</Button>
          </div> -->

          {
            /* <label htmlFor="article_search" className="block">
        Filter
      </label>
      <input
        type="text"
        id="article_search"
        className="p-2 rounded-full transition-all outline outline-2 outline-offset-0 outline-tertiary-light hover:outline-offset-2 focus:outline-offset-4 bg-grey-100"
        placeholder="Search Categories, Titles and Tags"
        onChange={handleOnChange}
        value={searchQuery}
      /> */
          }
        </form>
        <!-- <Filter setQuery={setQuery} /> -->
      </div>
      <section class="grid gap-12">
        <!-- <Articles orderBy="date" /> -->
        <Pagination {...page.url} />
        <Articles posts={page.data} client:idle />
      </section>
    </section>
    <div class="grid gap-16 container"></div>
  </section>
</Layout>
