---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<Layout title="Blogs - David'Space">
  {
    posts.map((post) => (
      <a href={post.slug}>
        <h2>{post.data.title}</h2>
      </a>
    ))
  }
</Layout>
