---
import BlogCard from "../../components/templates/BlogCard.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<Layout title="Blogs - David'Space">
  <div class="grid gap-16 container">
    {posts.map((post) => <BlogCard post={post} />)}
  </div>
</Layout>
