---
import { Image } from "astro:assets";
import { FaTwitter } from "react-icons/fa";
import { FaBluesky, FaGithub } from "react-icons/fa6";
import { SiGmail } from "react-icons/si";
import SocialIcon from "../../atoms/SocialIcon.astro";
---

<footer
	class="grid h-max gap-4
    p-3
    bg-tertiary-darkest text-tertiary-lightest
    justify-center"
>
	<h4><b>David Space</b></h4>
	<Image
		width={512}
		height={512}
		src="/icons/davidspace-icon.webp"
		alt="David'Space Icon"
		loading="lazy"
		class="size-16 mx-auto"
	/>

	<section id="FindMe" class="space-y-1">
		<SocialIcon href="">
			<FaTwitter />
		</SocialIcon>
	</section>
</footer>
