---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/atoms/Hero";
import { getCollection } from "astro:content";
import BlogCard from "../components/templates/BlogCard";
import About from "../components/pages/index/About.astro";
import dayjs from "dayjs";
import type { CollectionEntry } from "astro:content";

let posts = await getCollection("posts");

posts = posts.slice(0, 6);

posts.sort((a:CollectionEntry<"posts">,b:CollectionEntry<"posts">)=> dayjs(a.data.date).unix() < dayjs(b.data.date).unix() ? 1 : -1)


---

<Layout title="David'Space">
  <main class="grid gap-y-16 mb-8">
    <Hero client:idle />

    <section
      class="container grid grid-cols-1 gap-6 md:grid-cols-2 xl:grid-cols-3"
      id="News"
    >
      {posts.map((post) => <BlogCard post={post} />)}
    </section>
    <About />
  </main>
</Layout>
