---
import { FaHome as HomeI } from "react-icons/fa";
import ButtonLink from "../../components/atoms/ButtonLink";
import Layout from "../../layouts/Layout.astro";
import { getRandomInArray } from "../../utils";
import "./404.css";

const legends: string[] = [
	"Turn back, now",
	"You're a little lost",
	"There's nothing in here for you",
	"You are out of bounds",
	"The fun is back there",
];
---

<Layout title="404 - David'Space">
	<main
		class="w-screen h-screen
    bg-tertiary-darkest text-grey-100
    relative"
		id="404Page"
	>
		<span
			class="block size-full
            bg-404
            bg-[size:7rem]
            bg-[position:-15px]
            opacity-30"
		></span>
		<section
			class="absolute
        bottom-[50%] right-[50%]
        translate-x-2/4 translate-y-2/4
        grid h-max place-items-center
        text-center"
		>
			<h1 id="Code404" class="text-[40vmin]">404</h1>
			<ButtonLink href="/" color="primary">
				<div
					class="grid grid-cols-[2rem_auto] w-max h-max items-center justify-items-center"
				>
					<HomeI className="size-6 -translate-y-[2px] " />
					<p class="text-xl">
						{getRandomInArray(legends)}
					</p>
				</div>
			</ButtonLink>
		</section>
	</main>
</Layout>
