/* @import url("https://fonts.googleapis.com/css?family=Familjen%20Grotesk:700|Noto%20Sans%20Multani:400"); */
@import url("https://fonts.googleapis.com/css?family=Lunasima:700|Urbanist:400");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --text: #050315;
  --background: #fbfbfe;
  --primary: #474646;
  --secondary: #b6b6b6;
  --accent: #141414;
}
@layer base {
  #Article{
    ul, ol {
      list-style: revert;
      margin-inline-start: 2rem;
    }
  }
  
}
body {
  font-family: "Urbanist";
  font-weight: 400;
  background: whitesmoke;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lunasima";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 3.053rem; /* 48.8px */
}

h2 {
  font-size: 2.442rem; /* 39.04px */
}

h3 {
  font-size: 1.954rem; /* 31.2px */
}

h4 {
  font-size: 1.563rem; /* 24.96px */
}

h5 {
  font-size: 1.25rem; /* 20px */
}

small {
  font-size: 0.8rem; /* 12.8px */
}
