---
interface Props {
  nameFor: string;
  title: string;
}

const { nameFor, title, ...props } = Astro.props;
---

<div {...props} class="grid h-max">
  <label for={nameFor}>
    {title}
  </label>
  <slot />
</div>
