---
interface Props {
  post: CollectionEntry<"posts">;
}
import type { GetStaticPaths } from "astro";
import Layout from "../../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

export const getStaticPaths = (async () => {
  const posts: CollectionEntry<"posts"> = await getCollection("posts");

  const paths = posts.map((post: CollectionEntry<"posts">) => ({
    params: { slug: post.slug },
    props: { post },
  }));

  return paths;
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title=`${post.data.title} - David'Space`>
  <section class="container">
    <article class="prose mx-auto mt-32 animate-fade-up">
      <Content />
    </article>
  </section>
</Layout>
