/* @import url("https://fonts.googleapis.com/css?family=Familjen%20Grotesk:700|Noto%20Sans%20Multani:400"); */
@import url("https://fonts.googleapis.com/css?family=Lunasima:700|Urbanist:400");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
	--text: #050315;
	--background: #fbfbfe;
	--primary: #474646;
	--secondary: #b6b6b6;
	--accent: #141414;
}
@layer base {
	.container {
		@apply px-3.5 mx-auto;
	}
}
body {
	font-family: "Josefin Sans", "Urbanist";
	font-weight: 400;
	background: theme(colors.grey.100);
	color: theme(colors.grey.900);
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Lunasima";
	font-weight: 700;
}

html {
	font-size: 100%;
} /* 16px */

h1 {
	font-size: 2.027rem; /* 48.8px */
}

h2 {
	font-size: 1.802rem; /* 39.04px */
}

h3 {
	font-size: 1.602rem; /* 31.2px */
}

h4 {
	font-size: 1.424rem; /* 24.96px */
}

h5 {
	font-size: 1.125rem; /* 20px */
}

small {
	font-size: 0.889rem; /* 12.8px */
}
